{% extends 'SkahrSaltCityBundle::base.html.twig' %}
{% block title %}Контакты{% endblock%}

{% block body %}
	<div class="container">
        <h2>Контакты:</h2>
   
    
        Телефон единой справочной: <b>380-90-04</b>
            <p>Адрес: ул. Тихвинская, д. 1<br/>
                Время работы: Пн-Пт: 9<sup> 00</sup> - 21<sup> 00</sup>, Сб-Вс: 10<sup> 00</sup> - 18<sup> 00</sup>
            </p>
        <div>
            <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=eiI1WZ1jnRtnrspbLhvlwgp4Lk3_3ift&width=650&height=350"></script>
        </div>
	</div>
{% endblock %}