
<ul>
    <li>Заболевания верхних дыхательных путей: фарингит, ларингит, тонзиллит, синусит, ринит, риносинусит, аденоидит, отит. </li>
    <li>Заболевания нижних дыхательных путей: трахеит, бронхит, бронхиолит, пневмония. </li>
    <li>Хроническая обструктивная болезнь легких (ХОБЛ). </li>
    <li>Хронические неспецифические заболевания органов дыхания (ХНЗЛ): хронический бронхит, хроническая пневмония, бронхиальная астма (также предастма), бронхоэктатическая болезнь. </li>
    <li>Профессиональные пылевые заболевания органов дыхания (пневмокониозы). </li>
    <li>Кожные заболевания: экзема, псориаз, розацеа, атопический дерматит, себорея, угри. </li>
    <li>Аллергические заболевания, поллинозы. </li>
    <li>Вегето-сосудистая дистония, неврозы. </li>
    <li>Синдром хронической усталости (в т.ч. слабость, плохой сон, разбитость, депрессии, низкий эмоциональный тонус). </li>
    <li>Помощь в борьбе с курением. </li>
    <li>Помощь при реабилитации в послеоперационный период. </li>
    <li>Помощь в укреплении иммунного статуса, в частности после медикаментозного лечения. </li>
</ul>
