<p>Вход в соляную пещеру <em>«СольCity»</em> возможен без верхней одежды и только в чистой, предпочтительно хлопчатобумажной одежде светлых тонов. Необходимо принимать во внимание, что, не смотря на все наши усилия, связанные с уборкой соляной пещеры, солевой аэрозоль, оседая на гладкие поверхности в соляной пещере при взаимодействии с одеждой, может оставлять светлые следы, подобно мелу (следы легко стряхиваются). В связи с чем, мы предупреждаем об этом своих клиентов и просим иметь это в виду при выборе одежды.
При необходимости  можно преобрести у нашего администратора одноразовые простыни, тапочки, шапочки на голову.
</p>

