
<ul>
    <li>Все заболевания в острой стадии, острые инфекционные заболевания до окончания срока изоляции, хронические заболевания в стадии обострения и осложнения с острогнойными процессами (высокая температура, лихорадка, интоксикация, кровохарканье и т.п.)</li>
    <li>Психические заболевания. Все формы наркомании и токсикомании</li>
    <li>Туберкулез легких</li>
    <li>Кровотечения различного происхождения</li>
</ul>

