
    <h3>Загрязнение окружающей среды стало негативным символом нашего времени</h3>
    <p>Человечество, побеждая ряд заболеваний, приобретает новые, о которых наши предки не знали: бронхиальная астма, хронический бронхит, аллергический дерматит, вегетососудистые дисфункции, синдром хронической усталости и др. По данным Всемирной Организации Здравоохранения число людей с так называемыми «болезнями цивилизации» ежегодно увеличивается на 2-3 миллиона человек.</p>
    <p>Неблагоприятная эпидемиологическая ситуация, в первую очередь, в отношении болезней органов , о чем свидетельствуют достаточно высокие показатели заболеваемости (в России они дыханиясоставляют до 35 % всех заболеваний, официально регистрируемых среди взрослого населения, занимая первое место в перечне болезней с временной утратой трудоспособности и четвертое – по причине смерти и инвалидности) побуждает к поискам новых методов лечения, профилактики и оздоровления.</p>
    <p>Современные медикаментозные средства позволяют быстро справляться с острой патологией, ликвидировать выраженное обострение хронических заболеваний. Однако, часто повторяющаяся, длительная, и тем более, постоянная медикаментозная терапия связана с возможностью развития аллергических, токсических реакций, появлению антибиотикоустойчивых штаммов микроорганизмов, все большему распространению дисбактериозов и других побочных состояний.</p>
    <p>Такой взгляд заставляет врачей вновь обращаться к вековому опыту предков, вести разработки новых немедикаментозных и физиотерапевтических методов лечения. В частности, для лечения и профилактики заболеваний, и прежде всего болезней органов дыхания.</p>

    <h3>Действующие факторы метода галотерапии:</h3>
    <ul>
        <li><b>Основным действующим фактором метода является высокодисперсный сухой аэрозоль (галоаэрозоль) природной каменной соли.</b>
            <p>Основную массу частиц аэродисперсной среды (90%) составляет респирабельная фракция (1-5 мкм), благодаря чему осуществляется эффективное действие аэрозоля во всех, в том числе самых глубоких отделах дыхательных путей. Физико-химические свойства сухого аэрозоля определяют специфику методики галотерапии, особенностью которой является многокомпонентное лечебное действие чрезвычайно малых доз вещества.</p></li>
        <li><b>Аэроионизация воздуха</b>
            <p>В процессе работы галогенератора возникает так называемый процесс «псевдокипения», который приводит к приобретению кристаллами соли отрицательного заряда и высокой поверхностной энергии. При взаимодействии с молекулами воздуха возникает его аэроионизация (молекулы воздуха приобретают заряд). Отрицательные ионы (анионы) являются дополнительным фактором терапевтического действия на организм и очищение среды помещения (см. «Воздушные витамины»).</p></li>
        <li><b>Гипобактериальная и гипоаллергенная воздушная среда</b>
            <p>Наличие солевого аэрозоля формирует в лечебном помещении галокамеры среду, свободную от микроорганизмов и аллергенов. По оценке микробной обсемененности в одном кубическом метре воздуха галокамеры в течение сеанса содержится от 90 до 130-200 сапрофитных микробных тел (по данным ВОЗ стерильным считается воздух, в котором обнаруживается до 300 микробных тел в одном кубическом метре). Содержание микрофлоры по завершении сеанса падает до исходного уровня в течение 15-20 минут. При этом санитарно-показательные микроорганизмы (зеленящие, гемолитические стрептококки, стафилококки) не обнаруживаются. Эти данные сопоставимы с оценкой санитарно-гигиенических показателей воздуха подземных спелеолечебниц.</p></li>
        <li><b>Стабильность оптимальных микроклиматических параметров</b>
            <p>Воздушная лечебная среда имеет стабильную влажность (50-65%) и постоянную температуру (18-24 °С), наиболее благоприятные и комфортные для органов дыхания.</p>
        <li><b>Использование каменной соли природного месторождения (Соль-Илецк, г. Оренбург)</b>
            <p>Илецкая соль представляет собой чистейший хлористый натрий и не требует дополнительной очистки и обогащения. В 1996 году на международной выставке в Париже Илецкая соль признана лучшей в мире и удостоена медали и приза за качество. Эта соль обладает природными физическими свойствами и имеет постоянный состав (ГОСТ).</p></li>
        <li><b>Аудио-психотерапевтическое воздействие</b>
            <p>Полное расслабление в уютном помещении благотворно влияет на психоэмоциональное состояние.</p></li>
    </ul>

    <h3>Преимущества метода галотерапии:</h3>
    <ul>
        <li>Метод галотерапии имеет 2 направления воздействия на организм человека: высокодисперсный сухой аэрозоль каменной соли и отрицательно заряженные ионы</li>
        <li>У галотерапии практически нет побочных эффектов, поэтому ее можно использовать для лечения и профилактики всех возрастных категорий населения</li>
        <li>Научная обоснованность</li>
        <li>Метод галотерапии апробирован, одобрен и рекомендован Минздравом РФ</li>
        <li>Высокая эффективность оздоровления и лечения (до 80 - 90%)</li>
        <li>Период ремиссии увеличивается в 2-3 раза</li>
        <li>Натуральный метод оздоровления и лечения с использованием природных факторов</li>
        <li>Уменьшение медикаментозной нагрузки и, зачастую, последующая отмена лекарственных препаратов</li>
        <li>Широкий спектр применения</li>
        <li>Активация механизмов защиты организма и повышение уровня и резервов здоровья</li>
        <li>Сочетание с другими физиотерапевтическими методами</li>
        <li>Хорошая индивидуальная переносимость</li>
        <li>Положительный психоэмоциональный эффект</li>
        <li>Безопасность, комфортность</li>
    </ul>
    <h3>Цели галотерапии:</h3>
    <ul>
        <li>Ускорение процесса полноценного выздоровления</li>
        <li>Смягчение симптомов течения болезни</li>
        <li>Уменьшение медикаментозной нагрузки / отмена медикаментов</li>
        <li>Переход на более низкую степень тяжести болезни / возможность перехода к меньшим дозам и более щадящим средствам, рекомендуемым базисной медикаментозной терапией</li>
        <li>Продление состояния ремиссии</li>
        <li>Предупреждение развития рецидивов обострений у хронических больных</li>
        <li>Оказание стимулирующего действия на местные и общие защитные механизмы организма</li>
    </ul>
