
<div class="item-photo"><a href="{{ asset('images/certs/pic2.jpg') }}" target="_blank">Декларация о соответствии</a></div>
<div class="item-photo"><a href="{{ asset('images/certs/pic4.jpg') }}" target="_blank">Декларация о соответствии ТС</a></div>
<div class="item-photo"><a href="{{ asset('images/certs/pic6.jpg') }}" target="_blank">Аэрогалит</a></div>
<div class="item-photo"><a href="{{ asset('images/certs/pic7.jpg') }}" target="_blank">Паспорт качества</a></div>
