<div style="display: table; text-align: center; width: 100%">
{% for entity in entities %}
	
	<div class="panel panel-info" style="display: table-cell; width: 25%">
		<div class="panel-heading"><h1>{{ entity.pricename }}</h1></div>
  		<div class="panel-body">
			<h1>{{ entity.price }} &#8381;</h1>
			<h2 style="color: #98d8e0"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  {{ entity.seats }}</h2>
			<h3 style="color: #98d8e0"><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>   30</h3>
		</div>
		{% if entity.priceinfo %}
		<div class="panel-footer" style="background: white">{{ entity.priceinfo }}</div>
		{% endif %}
	</div>
	{% if loop.index % 4 == 0 %}
		</div><div style="display: table; text-align: center; width: 100%">
	{% endif %}
{% endfor %}
</div>