<!--[if lt IE 10]>
    <style type="text/css">
        .first-slide {
            filter: alpha(Opacity=70); /* Прозрачность в IE */
        }
        .item {background-color: black; }
    </style>
<![endif]-->

<div id="myCarousel" class="carousel slide" data-ride="carousel">
      
      <div class="carousel-inner" role="listbox">
          <div class="item active">
			<img src="{{ asset('images/bckg/pic0_logo.jpg') }}">
            </div>
          {% set array = [1, 2, 3, 4, 5, 6, 7, 8, 9]|shuffle %}
		  {% for entity in entities %}
		  	<div class="item">
                <img class="first-slide" src="{{ asset('images/bckg/pic' ~ array[ loop.index ] ~ '_blur.jpg') }}">
                <div class="carousel-caption">
                  <h1>{{ entity.salestext }}</h1>
                  <p><a href="{{ path('sale') }}">все события</a></p>
                </div>
            </div>
		  {% endfor %}
		  
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
</div><!-- /.carousel -->
