<div>
    <p><b>{{ name }}</b>, был отправлен запрос на восстановление пароля Вашей учетной записи Соль Сити.</p>
    <p>Чтобы сменить пароль, пройдите по ссылке - <a href="{{ link }}">сбросить пароль</a></p>
    <p>Ссылка действительна в течение двух дней.</p>
    <p>Проигнорируйте это сообщение, если запрос был отправлен не Вами.</p>
</div>