{% extends 'SkahrSaltCityBundle::base.html.twig' %}
{% block body -%}
<div class="container">
	{% if app.session.get('login') %}

    	<h1>Правка отзыва</h1>
		<a href="{{ path('comment') }}">назад</a>

	{{ form(edit_form) }}
	{{ form(delete_form) }}

	{% else %}
		<div class="alert alert-danger" role="alert">Доступ запрещен</div>
	{% endif %}
</div>
{% endblock %}
