{% extends 'SkahrSaltCityBundle::base.html.twig' %}

{% block body -%}
<div class="container">
{% if app.session.get('login') %}

    <h1>Создание события</h1>
    <a href="{{ path('sale') }}">назад</a>
	<br/>
    {{ form(form) }}

{% else %}
	<div class="alert alert-danger" role="alert">Доступ запрещен</div>
{% endif %}
</div>
{% endblock %}
